.opulence_image{
    background-color: white;
    margin-bottom: 45px;
    overflow:hidden;
    text-align: center;
}

.single_comment{
    text-align: left;
    margin-left: 20px;
}

#date_comment{
    font-size: 10px;
    color: slategray;
}

.content_comment{
    margin-left: 30px;
    height: 80px;
    overflow: no-display;
}

.btn-primary{
    color: slategray;
}

.new_comment{
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    color: cadetblue;
    text-align: center;
}

.opulence_section{
    background-color: white;
    margin-bottom: 45px;
    text-align: left;
    overflow: hidden;
}

.like_syst{
    font-size: 20px;
}

.content-area{
    display: flex;
    flex-direction: column;
    background-color: white;
}

.checkbox{
    font-size: 15px;
    overflow: auto;
    text-align: justify;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    margin: auto auto 60px;
}

.article{
    width: 70%;
    text-align: justify;
    display: flex;
    margin: auto;
    overflow: hidden;
}

.all_article{
    display: flex;
    margin: 0 auto 0;
    text-align: center;
    margin-bottom: 100px;
}

.top_article{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

#type_article{
    font-size: 12px;
    color: slategray;
    padding : 0;
    margin: 0;
}

#title_article{
    font-size: 45px;
    color: rgba(36,36,36,0.88);
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.pseudo_date, .blockquote-footer{
    font-size: 12px;
    color: slategray;
    padding : 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.image_article{
    max-width: 75%;
    height: auto;
    margin: 0 auto 100px;
    text-align: center;
}

.description_article{
    font-size: 15px;
    overflow: hidden;
    color: slategray;
    text-align: center;
}

.entry-title {
    margin: 5px 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    font-family: 'Quicksand', sans-serif;
}
.entry-title a {
    color: #000;
    word-wrap: break-word;
}
.pull-right{
    font-size: x-small;
    text-align: right;
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin-right: 10px;
    margin-bottom: 20px;

}

.bottom_desc{
    text-align: right;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.footer{
    padding-top: 8px;
    text-align: center;
    background-color: beige;
    height: 20%;
}
