<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../static/css/style_article.css" th:href="@{/css/style_article.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:600&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

</head>
<body>

<nav class="navbar navbar-light bg-light navbar-expand-xl navbar-fixed-top mb-5">

    <a class="navbar-brand" style="font-size: 30px" href="/">Tripizy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBar" aria-controls="navBar"
            aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navBar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item px-4">
                <a class="nav-link" href="/ameriques">Ameriques</a>
            </li>
            <li class="nav-item px-4">
                <a class="nav-link" href="/europe">Europe</a>
            </li>
            <li class="nav-item px-4">
                <a class="nav-link" href="/afrique">Afrique</a>
            </li>
            <li class="nav-item px-4">
                <a class="nav-link" href="/asie">Asie</a>
            </li>
            <li class="nav-item px-4">
                <a class="nav-link" href="/oceanie">Océanie</a>
            </li>
        </ul>
        <a th:if="${theUser.pseudo == null}" class="btn navbar-btn btn-info" href="/newuser">Inscription/Connexion</a>
        <div th:unless="${theUser.pseudo == null}">
            <label for="navbutton" th:text=" 'Bonjour '+ ${theUser.firstName}+', '" style="margin-right: 5px"> </label>
            <a class="btn navbar-btn btn-info" id="navbutton" href="/new">Nouvel article</a>
            <a class="btn navbar-btn btn-info" href="/mesArticles">Mes articles</a>
            <a class="btn navbar-btn btn-danger" href="/deconnexion">Déconnexion</a>
        </div>
    </div>
</nav>

<!-- HEADER -->
<div id="content" class="content-area  all_article col-sm-10">
    <div class="top_article">
        <p th:text="${selected_article.type}" id="type_article"></p>
        <p th:text="${selected_article.title}" id="title_article"></p>
        <div class="pseudo_date blockquote-footer text-right">
            <p th:text="${selected_article.pseudo}"></p>
            <p> | </p>
            <p th:text="${#dates.format(selected_article.date, 'dd MMMM yyyy')}"></p>
        </div>

    </div>

    <div>
        <img th:src="@{${'/images/' + selected_article.id_photo}}" class="img-fluid image_article" alt="Image_article">
    </div>

    <div class="description_article">
        <p th:text="${selected_article.description}">
        </p>
    </div>

    <div th:if="li">
        <p><strong>Commentaires</strong></p>
        <div class="single_comment" th:each="comment : ${list_comments}">
            <div class="name_date_comment">
                <strong><p th:text="${comment.pseudo_author}"></p></strong>
                <p th:text="${#dates.format(comment.date_publication, 'dd MMMM yyyy')}" id="date_comment"> Date </p>
            </div>
            <p th:text="${comment.content}" class="content_comment"> Contenu du commentaire</p>
        </div>
    </div>


    <form method="post" action="/new_comment" th:action="@{/article/{id}(id=${selected_article.id})}"
          th:object="${Comments}" id="comment_form">

        <p><strong> LAISSER UN COMMENTAIRE </strong></p>
        <div class="new_comment">
            <p class="comment-form-author">
                <label for="author" >Nom</label>
                <input id="author" name="author" type="text" value="" size="30" maxlength="45" th:field="*{pseudo_author}">
            </p>

            <p>
                <label for="comment"> Commentaire </label>
                <textarea id="comment" name="comment" cols="45" rows="8" maxlength="525" th:field="*{content}"></textarea>
            </p>

            <p class="form-submit">
                <input type="submit" id="submit" class="submit" value="Laisser un commentaire">
            </p>

        </div>

    </form>

</div>

<footer id="footer" class="page-footer font-small bg-light py-1 mt-5"></footer>
<script src="/js/footer.js" type="text/javascript"></script>
</body>
</html>