<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${continent}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/continentPage.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

</head>
<body>

<nav class="navbar navbar-light bg-light navbar-expand-xl navbar-fixed-top mb-5">

    <a class="navbar-brand" style="font-size: 30px" href="/">Tripizy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBar" aria-controls="navBar"
            aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navBar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item px-4">
                <a class="nav-link" href="/ameriques">Ameriques</a>
            </li>
            <li class="nav-item px-4">
                <a class="nav-link" href="/europe">Europe</a>
            </li>
            <li class="nav-item px-4">
                <a class="nav-link" href="/afrique">Afrique</a>
            </li>
            <li class="nav-item px-4">
                <a class="nav-link" href="/asie">Asie</a>
            </li>
            <li class="nav-item px-4">
                <a class="nav-link" href="/oceanie">Océanie</a>
            </li>
        </ul>
        <a th:if="${theUser.pseudo == null}" class="btn navbar-btn btn-info" href="/newuser">Inscription/Connexion</a>
        <div th:unless="${theUser.pseudo == null}">
            <label for="navbutton" th:text=" 'Bonjour '+ ${theUser.firstName}+', '" style="margin-right: 5px"> </label>
            <a class="btn navbar-btn btn-info" id="navbutton" href="/new">Nouvel article</a>
            <a class="btn navbar-btn btn-info" href="/mesArticles">Mes articles</a>
            <a class="btn navbar-btn btn-danger" href="/deconnexion">Déconnexion</a>
        </div>
    </div>
</nav>

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading" th:text="${continent}" style="text-transform: capitalize"></h1>
            <p class="lead text-muted" th:text="${description_continent}"></p>
          </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                    <th:block  th:each="country : ${countries}">
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">

                                <img class="card-img-top" alt="Card image cap" width="1000" height="250" th:src="@{images/{nomimage}(nomimage=${country.nomImage})}">
                                <div class="card-body">
                                    <h3 th:text="${country.name}"></h3>
                                    <p class="card-text" th:text="${country.description}"></p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a th:href="@{/articles/{country_name}(country_name=${country.name})}"  >
                                                <button type="submit" class="btn btn-sm btn-outline-secondary">Decouvrir</button>
                                            </a>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
            </div>
        </div>
    </div>

</main>

<footer id="footer" class="page-footer font-small bg-light py-1 mt-5"></footer>
<script src="/js/footer.js" type="text/javascript"></script>

</body>
</html>