<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Article</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../static/css/style_article.css" th:href="@{/css/style_article.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:600&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

</head>
<body>
<!-- HEADER -->
<form method="post" th:action="@{/edit/{id}(id=${selected_article.id})}" th:object="${article}">

<div id="content" class="content-area  all_article col-sm-10 ">
    <div class="top_article">
        <h5 th:text="${error}" style="color: crimson"></h5>
        <input type="text" th:placeholder="${selected_article.type}" id="type_article" th:field="*{type}">
        <input type="text" th:placeholder="${selected_article.title}" id="title_article" th:field="*{title}">
        <div class="pseudo_date blockquote-footer text-right">
            <input type="text" th:placeholder="${selected_article.pseudo}" th:field="*{pseudo}">
            <p> | </p>
            <p th:text="${selected_article.date}"></p>
        </div>

    </div>

    <div>
        <img th:src="@{${'/images/' + selected_article.id_photo}}" class="img-fluid image_article" alt="Image_article">
    </div>

    <div class="description_article">
        <textarea type="text" th:placeholder="${selected_article.description}" th:field="*{description}" rows="6" style=" width: 600px;
  height: 150px">
        </textarea>
    </div>
    <div class="col-md-12 text-center">
    <button type="submit"  class="btn btn-success" style=" width: 70px;
  height: 40px">Valider</button>
    </div>
</div>
</form>

<footer id="footer" class="page-footer font-small bg-light py-1 mt-5"></footer>
<script src="/js/footer.js" type="text/javascript"></script>

</body>
</html>