<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Tripizy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/css/home.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>

<body>

<nav class="navbar navbar-light bg-light navbar-expand-xl navbar-fixed-top mb-5">

    <a class="navbar-brand" style="font-size: 35px" href="/">Tripizy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBar" aria-controls="navBar"
            aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navBar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item px-4">
                <a class="nav-link" href="/ameriques">Ameriques</a>
            </li>
            <li class="nav-item px-4">
                <a class="nav-link" href="/europe">Europe</a>
            </li>
            <li class="nav-item px-4">
                <a class="nav-link" href="/afrique">Afrique</a>
            </li>
            <li class="nav-item px-4">
                <a class="nav-link" href="/asie">Asie</a>
            </li>
            <li class="nav-item px-4">
                <a class="nav-link" href="/oceanie">Océanie</a>
            </li>
        </ul>

        <a th:if="${theUser.pseudo == null}" class="btn navbar-btn btn-info" href="/newuser">Inscription/Connexion</a>
        <div th:unless="${theUser.pseudo == null}">
            <label for="navbutton" th:text=" 'Bonjour '+ ${theUser.firstName}+', '" style="margin-right: 5px"> </label>
            <a class="btn navbar-btn btn-info" id="navbutton" href="/new">Nouvel article</a>
            <a class="btn navbar-btn btn-info" href="/mesArticles">Mes articles</a>
            <a class="btn navbar-btn btn-danger" href="/deconnexion">Déconnexion</a>
        </div>


    </div>
</nav>


    <p align="center"  style="font-size:20px">« Dans vingt ans, vous serez plus déçus par les choses que vous n'avez pas faites que par celles
        que vous avez faites. Alors sortez des sentiers battus. Mettez les voiles. <b> Explorez. Rêvez.
            Découvrez. » </b> </p>
    <p class="mb-5 pr-5" align="right">Mark Twain</p>


<div width="1000" height="550">
    <div id="homeCarousel" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#homeCarousel" data-slide-to="1"></li>
            <li data-target="#homeCarousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner" style="text-align: center">

            <div class="carousel-item active">
                <img class="carousel-image" width="1200" height="550" th:src="@{images/new_york.jpg}" alt="New York"
                     type="button" data-toggle="modal" data-target="#newYorkModal">
                <div class="carousel-caption">
                    <h3>New York</h3>
                </div>
            </div>

            <div class="carousel-item">
                <img class="carousel-image" width="1200" height="550" th:src="@{/images/tokyoo.jpg}" alt="tokyo"
                     type="button" data-toggle="modal" data-target="#tokyoModal">
                <div class="carousel-caption">
                    <h3>Tokyo</h3>
                </div>
            </div>

            <div class="carousel-item" >
                <img class="carousel-image " width="1200" height="550" th:src="@{/images/le_cap.jpg}" alt="Le Cap"
                     type="button" data-toggle="modal" data-target="#leCapModal">
                <div class="carousel-caption">
                    <h3>Le Cap</h3>
                </div>
            </div>

        </div>

        <a class="carousel-control-prev" href="#homeCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Précédent</span>
        </a>
        <a class="carousel-control-next" href="#homeCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Suivant</span>
        </a>
    </div>
</div>

<div class="modal fade" id="newYorkModal" tabindex="-1" role="dialog" aria-labelledby="newYorkModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newYorkModalLabel">New York</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" align="justify">
                Voyager à New York c'est entrer dans un monde très particulier en raison du nombre de communautés qui
                s'y côtoient. C'est sans doute la ville la plus cosmopolite de la planète avec ses buildings
                impressionants, comme l'Empire State Building, qui ont forgé la renommée de New York.
                New York et ses gratte-ciel attend votre visite pour y passer un agréable séjour. Recherchez un vol
                en quelques secondes vers New York pour découvrir un monde étonnant dans cette ville moderne aux
                cultures multiples.
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <a class="btn btn-primary" href="/articles/Etats-unis">Afficher les articles</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="tokyoModal" tabindex="-1" role="dialog" aria-labelledby="tokyoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tokyoModalLabel">Tokyo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" align="justify">
                La mégalopole de Tokyo compte aujourd'hui plus de 35 millions d'habitant, ce qui en fait la ville
                la plus peuplée au monde. Elle représente aujourd'hui environ un tiers de la population japonaise.
                C'est aussi grace à sa banlieue que Tokyo compte autant d'habitant, la deuxiéme plus grande ville du
                japon (en habitant) est Yokohama situé en périphérie de Tokyo. Malgré son grand nombres d'habitants,
                Tokyo reste une ville très sécurisé. La politesse et courtoisie des Japonais en font des personnes
                calme, un climat paisible regne donc sur toute la ville.En effet Tokyo est certainement la métropole
                la plus sûre du monde en terme de délinquance. Pour ce qui est de la propreté, dans l'ensemble Tokyo
                reste une ville très propres, mis à part quelques quartiers (tel que shibuya et shinjuku) qui sont
                un peu sale. Cependant la polution atmosphérique reste très élevée bien que celle ci ai baissée
                ces dernières années.
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <a class="btn btn-primary" href="/articles/Japon">Afficher les articles</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="leCapModal" tabindex="-1" role="dialog" aria-labelledby="leCapModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="leCapModalLabel">Le Cap</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" align="justify">
                Peu de villes au monde offrent autant d’exemplaires de beauté de la vie, réunis en un seul et même
                lieu, à la portée de tous : une nature impressionnante, une histoire passionnante, des aventures
                géniales, une gastronomie et des vins d’exception et l’une des faunes les plus captivantes du monde.
                Cape Town, en Afrique du Sud, réussit précisément à combiner tout cela.
                C’est pourquoi j’ai élu Cape Town ville la plus formidable au monde – et aussi pourquoi je vous
                conseille de réserver votre billet d’avion pour cette incroyable destination, dès maintenant, ou,
                tout du moins, juste après avoir lu ces articles.
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <a class="btn btn-primary" href="/articles/Afrique%20du%20Sud">Afficher les articles</a>
            </div>
        </div>
    </div>
</div>

<footer id="footer" class="page-footer font-small bg-light py-1 mt-5"></footer>
<script src="/js/footer.js" type="text/javascript"></script>

</body>
</html>
