<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des articles</title>
    <meta http-equiv="Content-Type"  content="text/html ; charset=UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../static/css/style_article.css" th:href="@{/css/style_article.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:600&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

</head>
<body>

<nav class="navbar navbar-light bg-light navbar-expand-xl navbar-fixed-top mb-5">

    <a class="navbar-brand" style="font-size: 30px" href="/">Tripizy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBar" aria-controls="navBar"
            aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navBar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item px-4">
                <a class="nav-link" href="/ameriques">Ameriques</a>
            </li>
            <li class="nav-item px-4">
                <a class="nav-link" href="/europe">Europe</a>
            </li>
            <li class="nav-item px-4">
                <a class="nav-link" href="/afrique">Afrique</a>
            </li>
            <li class="nav-item px-4">
                <a class="nav-link" href="/asie">Asie</a>
            </li>
            <li class="nav-item px-4">
                <a class="nav-link" href="/oceanie">Océanie</a>
            </li>
        </ul>
        <a th:if="${theUser.pseudo == null}" class="btn navbar-btn btn-info" href="/newuser">Inscription/Connexion</a>
        <div th:unless="${theUser.pseudo == null}">
            <label for="navbutton" th:text=" 'Bonjour '+ ${theUser.firstName}+', '" style="margin-right: 5px"> </label>
            <a class="btn navbar-btn btn-info" id="navbutton" href="/new">Nouvel article</a>
            <a class="btn navbar-btn btn-info" href="/mesArticles">Mes articles</a>
            <a class="btn navbar-btn btn-danger" href="/deconnexion">Déconnexion</a>
        </div>
    </div>
</nav>

<!-- HEADER -->
<div id="content" class="content-area">

    <!-- Centrer le formulaire -->
    <form th:action='@{/articles/{pays}(pays=${country})}' method="POST" class="checkbox">
        <div>
            <div class="form-check form-check-inline"> Selectionnez les critères des articles :</div>
            <div th:each="type : ${type_article}" class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" id="materialInline1" th:name="idChecked"
                       th:value="${type.toString()}">
                <label class="form-check-label" for="materialInline1" th:text="${type.toString()}"></label>
            </div>


            <input type="submit" value="Valider la selection" class="btn btn-light">
        </div>
    </form>

    <article th:each="article : ${article_pays}" class="article container row">
        <div class="col-sm-7  opulence_image">
            <a th:href="@{/article/{id}(id=${article.id})}" title="titrearticle">
                <div>
                    <img th:src="@{${'/images/' + article.id_photo}}"
                         class="col-sm-12 opulence_image"/>
                </div>
            </a>
        </div>

        <div class="col-sm-5  opulence_section">
            <a th:href="@{/article/{id}(id=${article.id})}" style="color: black">
                <h2 class="entry-title" th:text="${article.title}"></h2> </a>
            <div id="description_article" class="description_article" th:text="${article.description}">
            </div>
            <div >
                <a th:if="${theUser.pseudo == article.pseudo}" class="btn btn-primary"th:href="@{/edit/{id}(id=${article.id})}" style="position: absolute;
                bottom: 50px ">Modifier</a>
            </div>
            <div class="pull-right">
                <p th:text="${#dates.format(article.date, 'dd MMMM yyyy')}"></p>
                <p th:text="${article.pseudo}"></p>
            </div>
        </div>
    </article>

</div>

<footer id="footer" class="page-footer font-small bg-light py-1 mt-5"></footer>
<script src="/js/footer.js" type="text/javascript"></script>

</body>
</html>