<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Nouvel Article</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
  <script type="text/javascript" src="/js/dropdownDynamic.js">

  </script>



</head>


<body>
<nav class="navbar navbar-light bg-light navbar-expand-xl navbar-fixed-top mb-5">

  <a class="navbar-brand" style="font-size: 30px" href="/">Tripizy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBar" aria-controls="navBar"
          aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navBar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item px-4">
        <a class="nav-link" href="/ameriques">Ameriques</a>
      </li>
      <li class="nav-item px-4">
        <a class="nav-link" href="/europe">Europe</a>
      </li>
      <li class="nav-item px-4">
        <a class="nav-link" href="/afrique">Afrique</a>
      </li>
      <li class="nav-item px-4">
        <a class="nav-link" href="/asie">Asie</a>
      </li>
      <li class="nav-item px-4">
        <a class="nav-link" href="/oceanie">Océanie</a>
      </li>
    </ul>
    <a th:if="${theUser.pseudo == null}" class="btn navbar-btn btn-info" href="/newuser">Inscription/Connexion</a>
    <div th:unless="${theUser.pseudo == null}">
      <label for="navbutton" th:text=" 'Bonjour '+ ${theUser.firstName}+', '" style="margin-right: 5px"> </label>
      <a class="btn navbar-btn btn-info" id="navbutton" href="/new">Nouvel article</a>
      <a class="btn navbar-btn btn-info" href="/mesArticles">Mes articles</a>
      <a class="btn navbar-btn btn-danger" href="/deconnexion">Déconnexion</a>
    </div>

  </div>
</nav>


<div class="row justify-content-center">
  <div class="col-md-6">
    <form method="post" th:action="@{/new}" th:object="${photoarticle}" enctype="multipart/form-data">
    <div class="form-group">
      <label for="exampleFormControlInput1">Pseudo</label>
      <p th:field="*{unArticle.pseudo}" id="exampleFormControlInput1" th:text="${theUser.pseudo}"></p>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        <div class="form-group">
          <label for="continentFormControlSelect1">Continent</label>
          <select class="form-control" id="continentFormControlSelect1" name="continentFormControlSelect1" th:field="*{unArticle.continent}" required="required" onchange="onContinentChange()">
            <option th:value="none">Select </option>
            <option th:value="afrique" th:text="Afrique"></option>
            <option th:value="ameriques" th:text="Ameriques"></option>
            <option th:value="asie" th:text="Asie"></option>
            <option th:value="europe" th:text="Europe"></option>
            <option th:value="oceanie" th:text="Océanie"></option>
          </select>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label for="paysFormControlSelect2">Pays</label>
          <select class="form-control" id="paysFormControlSelect2" th:field="*{unArticle.country}" required="required" name="paysFormControlSelect2">
            <option disabled="disabled" selected="selected" th:value="none">none</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="villeFormControlInput1">Ville</label>
      <input th:field="*{unArticle.city}" class="form-control" id="villeFormControlInput1">
    </div>

    <label for="bouton_en_ligne"> Type</label>
    <div class="form-group" id="bouton_en_ligne">
      <div class="form-check form-check-inline" >
        <input class="form-check-input" th:field="*{unArticle.type}" type="radio" name="inlineRadioOptions" id="inlineRadioActivite" value="Activite">
        <label class="form-check-label" for="inlineRadioActivite">Activité</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" th:field="*{unArticle.type}" name="inlineRadioOptions" id="inlineRadioRestaurant" value="Restaurant">
        <label class="form-check-label" for="inlineRadioRestaurant">Restaurant</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" th:field="*{unArticle.type}" name="inlineRadioOptions" id="inlineRadioHotel" value="Hotel / Airbnb">
        <label class="form-check-label" for="inlineRadioHotel">Hotel / Airbnb</label>
      </div>
      <div class="form-group">
        <label for="titreFormControlInput">Titre</label>
        <input  class="form-control" th:field="*{unArticle.title}" id="titreFormControlInput" required="required">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Votre article</label>
        <textarea class="form-control" th:field="*{unArticle.description}" id="exampleFormControlTextarea1" rows="4"></textarea>
      </div>

      <div class="row justify-content-between">
        <div class="col-sm-5">
          <div class="form-group">
            <label for="photoFormControlFile1">Insérer une photo</label>
            <input type="file" class="form-control-file"  th:field="*{filePhotoUpload}" id="photoFormControlFile1" required="required">
          </div>

        </div>
        <div class="col-sm-4">
          <div class="btn-group float-right m-5">
            <button type="submit" class="btn btn-primary" id="buttonValider">Valider</button>
          </div>
        </div>
      </div>

      </div>
    </form>
    </div>
</div>

<footer id="footer" class="page-footer font-small bg-light py-1 mt-5"></footer>
<script src="/js/footer.js" type="text/javascript"></script>

</body>


</html>
