<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Connexion</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar navbar-light bg-light navbar-expand-xl navbar-fixed-top mb-5">

    <a class="navbar-brand" style="font-size: 30px" href="/">Tripizy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBar" aria-controls="navBar"
            aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navBar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item px-4">
                <a class="nav-link" href="/ameriques">Ameriques</a>
            </li>
            <li class="nav-item px-4">
                <a class="nav-link" href="/europe">Europe</a>
            </li>
            <li class="nav-item px-4">
                <a class="nav-link" href="/afrique">Afrique</a>
            </li>
            <li class="nav-item px-4">
                <a class="nav-link" href="/asie">Asie</a>
            </li>
            <li class="nav-item px-4">
                <a class="nav-link" href="/oceanie">Océanie</a>
            </li>
        </ul>
        <a th:if="${theUser.pseudo == null}" class="btn navbar-btn btn-info" href="/newuser">Inscription/Connexion</a>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm rounded" style="background-color: #d7f2f5">
<div class="container register-form">
    <div class="form">
        <div class="note">
            <p style="margin-top: 50px">Création d'un nouveau compte</p>
            <h5 th:text="${error_creation}" style="color: crimson"></h5>
        </div>

        <div class="form-content">
            <form method="post" th:action="@{/newuser}" th:object="${user}">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Votre nom *" th:field="*{lastName}" required="required"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Votre prénom *" th:field="*{firstName}" required="required"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Votre âge *" th:field="*{age}" required="required"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Votre pseudo *" th:field="*{pseudo}" required="required"/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Votre mot de passe *" th:field="*{password}" required="required"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Votre adresse mail *" th:field="*{addressmail}" required="required"/>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Valider</button>
            </form>
        </div>
    </div>
</div>
        </div>
                <div class="col-sm">
                    <div class="text-center" style="padding:50px 0">
                        <div class="note">
                            <p>Connectez-vous</p>
                            <h5 th:text="${error_connexion}" style="color: crimson"></h5>
                        </div>
                        <!-- Main Form -->
                        <div class="login-form-1">
                            <form id="login-form" class="text-left" method="post" th:action="@{/connexion}" th:object="${user}">
                                <div class="login-form-main-message"></div>
                                <div class="main-login-form">
                                    <div class="login-group">
                                        <div class="form-group">
                                            <label for="lg_username" class="sr-only">Username</label>
                                            <input type="text" class="form-control" id="lg_username" name="lg_username" placeholder="pseudo" th:field="*{pseudo}">
                                        </div>
                                        <div class="form-group">
                                            <label for="lg_password" class="sr-only">Password</label>
                                            <input type="password" class="form-control" id="lg_password" name="lg_password" placeholder="mot de passe" th:field="*{password}">
                                        </div>
                                        <div class="form-group login-group-checkbox">
                                            <input type="checkbox" id="lg_remember" name="lg_remember">
                                            <label for="lg_remember">se souvenir</label>
                                        </div>
                                    </div>
                                    <button type="submit"  class="btn btn-primary">Connexion</button>
                                </div>

                            </form>
                        </div>
                        <!-- end:Main Form -->
                    </div>
                </div>
    </div>
</div>

<footer id="footer" class="page-footer font-small bg-light py-1 mt-5"></footer>
<script src="/js/footer.js" type="text/javascript"></script>

</body>


</html>
